#logoAndRYGBar {
  background-color: #000;
}

#navTopImage {
  width: 100%;
  margin: 0;
  padding: 0;
  vertical-align:top;
}

#juneteenthLogo {
  padding: 20px 0 0 50px;
  margin-bottom: 20px;
}

nav {
  background-color: #8452a1;
  height: 34px;
}

nav ul{
  transform: translateX(13%);
  webkit-transform: translateX(-13%);
}

nav ul a {
  padding: 0 25px;
}

nav ul li a {
  height: 34px;
  line-height: 34px
}

nav ul.hide-on-med-and-down li a:hover {
  color: #f5e909;
}

nav .button-collapse i {
    height: 34px;
    line-height: 34px;
}

#partnerPlayer {
  width:578px;
  height:325px;
}